# Contents
### 1. Import Libraries
### 2. Upload Data - COVID Cases Per 100K
### 3. Consistency Checks and Cleaning
* Re-Name Columns
* Delete Unwanted Columns
* Change Column Formats
* Eliminate Unwanted Rows
* Change Data Types
* Check for Missing Values
* Check for Duplicates
* Check for Mixed Types
* Derive New Variables

### 4. Download Cleaned Data
_____________________

## 1. Import Libraries, Create Folder Path

In [50]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [51]:
# Create path to folder
path = r'/Users/caitlin/iCloud/Caitlin/COVID Data/Original Data'

In [52]:
path

'/Users/caitlin/iCloud/Caitlin/COVID Data/Original Data'

## 2. Upload Data - COVID Cases Per 100K

In [55]:
# Import data file
COVID_cases = pd.read_csv(os.path.join(path, 'COVID_cases.csv'), index_col = False)

In [56]:
# Show all columns
pd.options.display.max_columns = None

In [57]:
# Inspect Data File
COVID_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748366 entries, 0 to 2748365
Data columns (total 7 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   state_name                                          object
 1   county_name                                         object
 2   fips_code                                           int64
 3   date                                                object
 4   cases_per_100K_7_day_count_change                   object
 5   percent_test_results_reported_positive_last_7_days  float64
 6   community_transmission_level                        object
dtypes: float64(1), int64(1), object(5)
memory usage: 146.8+ MB

In [58]:
# Inspect info
COVID_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748366 entries, 0 to 2748365
Data columns (total 7 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   state_name                                          object
 1   county_name                                         object
 2   fips_code                                           int64
 3   date                                                object
 4   cases_per_100K_7_day_count_change                   object
 5   percent_test_results_reported_positive_last_7_days  float64
 6   community_transmission_level                        object
dtypes: float64(1), int64(1), object(5)
memory usage: 146.8+ MB

In [59]:
# Inspect shape
COVID_cases.shape

(2748366, 7)

In [60]:
# Inspect DF heads
COVID_cases.head(5)

,state_name,county_name,fips_code,date,cases_per_100K_7_day_count_change,percent_test_results_reported_positive_last_7_days,community_transmission_level
0,Iowa,Emmet County,19063,01/26/2020,0.000,NaN,NaN
1,Texas,Lynn County,48305,01/24/2020,0.000,NaN,NaN
2,Maine,York County,23031,01/24/2020,0.000,NaN,NaN
3,Iowa,Davis County,19051,01/27/2020,0.000,NaN,NaN
4,Texas,Lamb County,48279,01/27/2020,0.000,NaN,NaN

## 3. Consistency Checks and Cleaning

### Rename Columns

In [61]:
# Rename columns for clarity
COVID_cases_2 = COVID_cases.rename(columns = {'cases_per_100K_7_day_count_change' : 'cases_per_100K'})

In [62]:
# Check change
COVID_cases_2.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,percent_test_results_reported_positive_last_7_days,community_transmission_level
0,Iowa,Emmet County,19063,01/26/2020,0.000,NaN,NaN
1,Texas,Lynn County,48305,01/24/2020,0.000,NaN,NaN
2,Maine,York County,23031,01/24/2020,0.000,NaN,NaN

### Delete Unwanted Columns

In [63]:
# Drop unnecessary columns
COVID_cases_3 = COVID_cases_2.drop(columns = ['percent_test_results_reported_positive_last_7_days'])

In [64]:
# Inspect drop
COVID_cases_3.head(5)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level
0,Iowa,Emmet County,19063,01/26/2020,0.000,NaN
1,Texas,Lynn County,48305,01/24/2020,0.000,NaN
2,Maine,York County,23031,01/24/2020,0.000,NaN
3,Iowa,Davis County,19051,01/27/2020,0.000,NaN
4,Texas,Lamb County,48279,01/27/2020,0.000,NaN

#### Check that there are only states, no territories

I am only interested in the US states, not territories, so deleting like I did for the other two DFs.

In [65]:
# Count values of each state to see states and how many records for each
COVID_cases_3['state_name'].value_counts()

Texas                   216662
Georgia                 135627
Virginia                113449
Kentucky                102360
Missouri                 98095
Kansas                   89565
Illinois                 87006
North Carolina           85300
Iowa                     84447
Tennessee                81035
Nebraska                 79329
Indiana                  78476
Ohio                     75064
Minnesota                74211
Michigan                 70799
Mississippi              69946
Puerto Rico              66534
Oklahoma                 65681
Arkansas                 63975
Wisconsin                61416
Pennsylvania             57151
Florida                  57151
Alabama                  57151
South Dakota             56298
Louisiana                54592
Colorado                 54592
New York                 52886
California               49474
Montana                  47768
West Virginia            46915
North Dakota             45209
South Carolina           39238
Idaho                    37532
Washington               33267
Oregon                   30708
New Mexico               28149
Alaska                   26443
Utah                     24737
Maryland                 20472
Wyoming                  19619
New Jersey               17913
Nevada                   14501
Maine                    13648
Arizona                  12795
Massachusetts            11942
Vermont                  11942
New Hampshire             8530
Connecticut               6824
Hawaii                    4265
Rhode Island              4265
Delaware                  2559
District of Columbia       853
Name: state_name, dtype: int64

Only states, no territories - good. No deletions necessary.

### Change Column Formats

In [66]:
# Change date column to datetime format so it behaves as a number
COVID_cases_3['date'] = pd.to_datetime(COVID_cases_3['date'])

In [67]:
# Check change of data type
COVID_cases_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748366 entries, 0 to 2748365
Data columns (total 6 columns):
 #   Column                        Dtype
---  ------                        -----
 0   state_name                    object
 1   county_name                   object
 2   fips_code                     int64
 3   date                          datetime64[ns]
 4   cases_per_100K                object
 5   community_transmission_level  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 125.8+ MB

### Eliminate Unwanted Rows

I am only looking at data from 10 April (first available data on home and mask orders) to 13 December (before the first vaccine).

In [68]:
# Check min and max values to see which ones to eliminate
COVID_cases_3['date'].max()

Timestamp('2022-05-23 00:00:00')

In [69]:
# Check min and max values to see which ones to eliminate
COVID_cases_3['date'].min()

Timestamp('2020-01-22 00:00:00')

In [70]:
# Make subset of desired time values
COVID_cases_4 = COVID_cases_3[(COVID_cases_3['date'] >= '2020-04-10') & (COVID_cases_3['date'] < '2020-12-14')]

In [71]:
# Check min and max values again
COVID_cases_4['date'].max()

Timestamp('2020-12-13 00:00:00')

In [72]:
COVID_cases_4['date'].min()

Timestamp('2020-04-10 00:00:00')

### Change Data Types

In [73]:
# Change cases per 100K to numerical and coerce suppressed to NaN
COVID_cases_4['cases_per_100K'] = pd.to_numeric(COVID_cases_4['cases_per_100K'], errors='coerce')

/var/folders/5y/s1_zpnxx04z7kvvp3b6fff9w0000gn/T/ipykernel_38510/770610814.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COVID_cases_4['cases_per_100K'] = pd.to_numeric(COVID_cases_4['cases_per_100K'], errors='coerce')

In [74]:
# Check datatype change
COVID_cases_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799056 entries, 8 to 1112415
Data columns (total 6 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   state_name                    799056 non-null  object
 1   county_name                   799056 non-null  object
 2   fips_code                     799056 non-null  int64
 3   date                          799056 non-null  datetime64[ns]
 4   cases_per_100K                579930 non-null  float64
 5   community_transmission_level  799056 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 42.7+ MB

In [75]:
# Min and max values to double check
COVID_cases_4['cases_per_100K'].min()

0.0

In [76]:
COVID_cases_4['cases_per_100K'].max()

999.936

### Check for Missing Values

In [77]:
# Check for missing values in home order dataframe
COVID_cases_4.isnull().sum()

state_name                           0
county_name                          0
fips_code                            0
date                                 0
cases_per_100K                  219126
community_transmission_level         0
dtype: int64

There are a significant number NaN values in the cases per 100K, but I do not want to delete them because they are simply just days where the data was not reported, according to the CDC.

### Check for Duplicates

In [78]:
#Check for Duplicates
COVID_cases_dups = COVID_cases_4[COVID_cases_4.duplicated()]

In [79]:
COVID_cases_dups

Empty DataFrame
Columns: [state_name, county_name, fips_code, date, cases_per_100K, community_transmission_level]
Index: []

No duplicates

### Check for Mixed Types

In [80]:
# Check for mixed types
for col in COVID_cases_4.columns.tolist():
    weird = (COVID_cases_4[[col]].applymap(type) != COVID_cases_4[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len (COVID_cases_4[weird]) > 0:
        print (col)

No mixed types

In [81]:
#Download cleaned data
COVID_cases_4.to_csv(os.path.join(path, 'COVID_cases_per_100K.csv'))

### Derive New Variables

#### Add +14, +30, +60 Day Columns

A major premise of this project is determining how mask and stay at home mandates impacted COVID cases and deaths. Since COVID has a 14 day incubation period, a column that adds 14, 30, and 60 days to the date of the mandate is important to track the effectiveness of the mandates. A new DF will create the new variable, and then they will be merged.

In [30]:
# Import Timedelta
from datetime import timedelta

In [31]:
# Duplicate DF for later variable creation
COVID_cases_5 = COVID_cases_4

In [32]:
COVID_cases_5.head(5)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level
8,Kansas,Riley County,20161,2020-07-04,119.894,high
9,Indiana,Posey County,18129,2020-07-04,39.328,moderate
10,Georgia,Hart County,13147,2020-07-04,95.402,high
11,New Jersey,Ocean County,34029,2020-07-04,24.704,moderate
12,Florida,Lee County,12071,2020-07-04,293.157,high

#### +14 Day Variable

In [33]:
# Create new column for +14 days
COVID_cases_5['plus_14_days'] = COVID_cases_5['date'] + timedelta(days=14)

/var/folders/5y/s1_zpnxx04z7kvvp3b6fff9w0000gn/T/ipykernel_38510/3857559804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COVID_cases_5['plus_14_days'] = COVID_cases_5['date'] + timedelta(days=14)

# START HERE - FIGURE OUT HOW TO POPULATE THE +14 COLUMN with 100K VALUE from that date

In [44]:
COVID_cases_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799056 entries, 8 to 1112415
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   state_name                    799056 non-null  object
 1   county_name                   799056 non-null  object
 2   fips_code                     799056 non-null  int64
 3   date                          799056 non-null  datetime64[ns]
 4   cases_per_100K                579930 non-null  float64
 5   community_transmission_level  799056 non-null  object
 6   plus_14_days                  799056 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 64.9+ MB

In [34]:
COVID_cases_5.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,plus_14_days
8,Kansas,Riley County,20161,2020-07-04,119.894,high,2020-07-18
9,Indiana,Posey County,18129,2020-07-04,39.328,moderate,2020-07-18
10,Georgia,Hart County,13147,2020-07-04,95.402,high,2020-07-18

In [ ]:
df['value2'] = np.where(df['condition'].ge(0),0,df['value'])

In [49]:
COVID_cases_6['100K_+14'] = np.where(COVID_cases_5['date'] == COVID_cases_5['plus_14_days'].ge(0),0,COVID_cases_5['cases_per_100K'])

TypeError: Invalid comparison between dtype=datetime64[ns] and int

In [47]:
COVID_cases_6['100K_+14'] = np.where(COVID_cases_5['date'] == COVID_cases_5['plus_14_days'], COVID_cases_5['cases_per_100K'])

ValueError: either both or neither of x and y should be given

In [ ]:
np.where(df["Number"] > 0.5, df["Country"], "")

COVID_cases_5['date'] == COVID_cases_5['plus_14.days']

In [43]:
COVID_cases_5['date'] == COVID_cases_5['plus_14.days'].values

KeyError: 'plus_14.days'

In [ ]:
master_df.loc[master_df['department_id'] == 1, 'department_name'] = "frozen"

In [ ]:
# Using DataFrame.query() method extract column values.
COVID_cases_6=COVID_cases_5.query('Fee == 25000')['Courses']
print(df2)

#Output:
r2    Pyspark
Name: Courses, dtype: object

In [41]:
COVID_cases_6['cases_+14'] = COVID_cases_5.loc[(COVID_cases_5['date'] = COVID_cases_5['plus_14_days'])['cases_per_100K']

SyntaxError: invalid syntax (2450681139.py, line 1)

In [ ]:
df2=df.loc[(df['Discount'] >= 1000) & (df['Discount'] <= 2000)]
print(df2)

In [ ]:
COVID_cases_5.loc[(COVID_cases_5['date'] == COVID_cases_5['plus_14_days'].apply(max, axis=0)

In [ ]:
COVID_cases_6 = COVID_cases_5.loc[(COVID_cases_5['date'] >= 1000) & (df['Discount'] <= 2000)]

In [ ]:
COVID_cases_5['cases_+14'] = COVID_cases_5

In [ ]:
COVID_cases_5.loc[COVID_cases_5['customer_number_dependents'] == 0, 'parental_status'] = "non-parent"

In [ ]:
E_Price=[]
plus_14_cases = COVID_cases_5['timestamp'].apply(lambda x: x >= (COVID_cases_5['timestamp']+timedelta(minutes=2)))
price_diff = df['Price'].apply(lambda x: x >= (df['Price']*1.1))
for i in range(len(df)):
    check = (time_diff|price_diff)[i]
    ind = check.idxmax()
    if ind != 0:
        val = df.iloc[ind,1]
    else:
        val = np.nan
    E_Price.append(val)    

df['Exit_Price'] = E_Price
df['Exit_Price'] = df.Exit_Price.astype(pd.Int32Dtype())
print(df)

In [ ]:
E_Price=[]
time_diff = df['timestamp'].apply(lambda x: x >= (df['timestamp']+timedelta(minutes=2)))
price_diff = df['Price'].apply(lambda x: x >= (df['Price']*1.1))
for i in range(len(df)):
    check = (time_diff|price_diff)[i]
    ind = check.idxmax()
    if ind != 0:
        val = df.iloc[ind,1]
    else:
        val = np.nan
    E_Price.append(val)    

df['Exit_Price'] = E_Price
df['Exit_Price'] = df.Exit_Price.astype(pd.Int32Dtype())
print(df)

In [38]:
# Delete columns on new DF to facilitate merge
COVID_cases_6 = COVID_cases_5.drop(columns = ['date','cases_per_100K','community_transmission_level'],)

In [39]:
COVID_cases_6.head(3)

   state_name   county_name  fips_code plus_14_days
8      Kansas  Riley County      20161   2020-07-18
9     Indiana  Posey County      18129   2020-07-18
10    Georgia   Hart County      13147   2020-07-18

In [37]:
# Re-name date column
COVID_cases_5 = COVID_cases_5.rename(columns = {'plus_14_days' : 'date', 'cases_per_100K' : 'cases_100K_+14'})

In [38]:
COVID_cases_5.head(3)

,state_name,county_name,fips_code,cases_100K_+14,community_transmission_level,date
8,Kansas,Riley County,20161,119.894,high,2020-07-18
9,Indiana,Posey County,18129,39.328,moderate,2020-07-18
10,Georgia,Hart County,13147,95.402,high,2020-07-18

In [38]:
COVID_cases_4.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,plus_14_days
8,Kansas,Riley County,20161,2020-07-04,119.894,high,2020-07-18
9,Indiana,Posey County,18129,2020-07-04,39.328,moderate,2020-07-18
10,Georgia,Hart County,13147,2020-07-04,95.402,high,2020-07-18

In [39]:
COVID_cases_4 = COVID_cases_4.drop(columns = ['plus_14_days'])

In [40]:
COVID_cases_4.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level
8,Kansas,Riley County,20161,2020-07-04,119.894,high
9,Indiana,Posey County,18129,2020-07-04,39.328,moderate
10,Georgia,Hart County,13147,2020-07-04,95.402,high

In [41]:
# Merge dataframes to create new variable
COVID_cases_6 = COVID_cases_4.merge(COVID_cases_5, on = ['date', 'state_name','county_name','fips_code','community_transmission_level'])

In [42]:
COVID_cases_6.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14
0,Indiana,Posey County,18129,2020-07-04,39.328,moderate,NaN
1,Georgia,Hart County,13147,2020-07-04,95.402,high,NaN
2,New Jersey,Ocean County,34029,2020-07-04,24.704,moderate,32.609

#### +30 Day Variable

In [43]:
# Create new column for +30 days
COVID_cases_6["plus_30_days"] = COVID_cases_6["date"] + timedelta(days=30)

In [44]:
COVID_cases_6.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14,plus_30_days
0,Indiana,Posey County,18129,2020-07-04,39.328,moderate,NaN,2020-08-03
1,Georgia,Hart County,13147,2020-07-04,95.402,high,NaN,2020-08-03
2,New Jersey,Ocean County,34029,2020-07-04,24.704,moderate,32.609,2020-08-03

In [45]:
# Delete date on new DF to facilitate merge
COVID_cases_7 = COVID_cases_6.drop(columns = ['date'])

In [46]:
COVID_cases_7.head(3)

,state_name,county_name,fips_code,cases_per_100K,community_transmission_level,cases_100K_+14,plus_30_days
0,Indiana,Posey County,18129,39.328,moderate,NaN,2020-08-03
1,Georgia,Hart County,13147,95.402,high,NaN,2020-08-03
2,New Jersey,Ocean County,34029,24.704,moderate,32.609,2020-08-03

In [47]:
# Re-name date column
COVID_cases_8 = COVID_cases_7.rename(columns = {'plus_30_days' : 'date', 'cases_per_100K' : 'cases_100K_+30'})

In [48]:
COVID_cases_8.head(3)

,state_name,county_name,fips_code,cases_100K_+30,community_transmission_level,cases_100K_+14,date
0,Indiana,Posey County,18129,39.328,moderate,NaN,2020-08-03
1,Georgia,Hart County,13147,95.402,high,NaN,2020-08-03
2,New Jersey,Ocean County,34029,24.704,moderate,32.609,2020-08-03

In [49]:
COVID_cases_6.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14,plus_30_days
0,Indiana,Posey County,18129,2020-07-04,39.328,moderate,NaN,2020-08-03
1,Georgia,Hart County,13147,2020-07-04,95.402,high,NaN,2020-08-03
2,New Jersey,Ocean County,34029,2020-07-04,24.704,moderate,32.609,2020-08-03

In [50]:
COVID_cases_6 = COVID_cases_6.drop(columns = ['plus_30_days'])

In [51]:
COVID_cases_6.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14
0,Indiana,Posey County,18129,2020-07-04,39.328,moderate,NaN
1,Georgia,Hart County,13147,2020-07-04,95.402,high,NaN
2,New Jersey,Ocean County,34029,2020-07-04,24.704,moderate,32.609

In [52]:
# Merge dataframes to create new variable
COVID_cases_9 = COVID_cases_6.merge(COVID_cases_8, on = ['date', 'state_name','county_name','fips_code','community_transmission_level','cases_100K_+14'])

In [53]:
COVID_cases_9.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14,cases_100K_+30
0,Nebraska,Grant County,31075,2020-09-01,0.0,low,0.0,0.0
1,Texas,Upton County,48461,2020-09-13,0.0,high,NaN,0.0
2,Puerto Rico,Culebra Municipio,72049,2020-10-20,0.0,low,0.0,0.0

#### + 60 Day Variable

In [54]:
# Create new column for +60 days
COVID_cases_9["plus_60_days"] = COVID_cases_9["date"] + timedelta(days=60)

In [55]:
COVID_cases_9.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14,cases_100K_+30,plus_60_days
0,Nebraska,Grant County,31075,2020-09-01,0.0,low,0.0,0.0,2020-10-31
1,Texas,Upton County,48461,2020-09-13,0.0,high,NaN,0.0,2020-11-12
2,Puerto Rico,Culebra Municipio,72049,2020-10-20,0.0,low,0.0,0.0,2020-12-19

In [56]:
# Delete date on new DF to facilitate merge
COVID_cases_10 = COVID_cases_9.drop(columns = ['date'])

In [57]:
# Re-name date column
COVID_cases_11 = COVID_cases_10.rename(columns = {'plus_60_days' : 'date', 'cases_per_100K' : 'cases_100K_+60'})

In [58]:
COVID_cases_11.head(3)

,state_name,county_name,fips_code,cases_100K_+60,community_transmission_level,cases_100K_+14,cases_100K_+30,date
0,Nebraska,Grant County,31075,0.0,low,0.0,0.0,2020-10-31
1,Texas,Upton County,48461,0.0,high,NaN,0.0,2020-11-12
2,Puerto Rico,Culebra Municipio,72049,0.0,low,0.0,0.0,2020-12-19

In [59]:
COVID_cases_9.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14,cases_100K_+30,plus_60_days
0,Nebraska,Grant County,31075,2020-09-01,0.0,low,0.0,0.0,2020-10-31
1,Texas,Upton County,48461,2020-09-13,0.0,high,NaN,0.0,2020-11-12
2,Puerto Rico,Culebra Municipio,72049,2020-10-20,0.0,low,0.0,0.0,2020-12-19

In [60]:
COVID_cases_9 = COVID_cases_9.drop(columns = ['plus_60_days'])

In [61]:
# Merge dataframes to create new variable
COVID_cases_12 = COVID_cases_9.merge(COVID_cases_11, on = ['date', 'state_name','county_name','fips_code','community_transmission_level','cases_100K_+14','cases_100K_+30'])

In [62]:
COVID_cases_12.head(3)

,state_name,county_name,fips_code,date,cases_per_100K,community_transmission_level,cases_100K_+14,cases_100K_+30,cases_100K_+60
0,Nebraska,Grant County,31075,2020-09-01,0.0,low,0.0,0.0,0.0
1,Texas,King County,48269,2020-11-07,0.0,low,0.0,0.0,0.0
2,California,Sierra County,6091,2020-08-03,0.0,low,0.0,0.0,0.0

## 4. Download Cleaned Data

In [63]:
#Download cleaned data
COVID_cases_12.to_csv(os.path.join(path, 'COVID_cases_per_100K.csv'))