# Import Library and Data

In [22]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [23]:
# Create path to folder
path = r'/Users/caitlin/iCloud/Caitlin/COVID Data'

In [24]:
path

'/Users/caitlin/iCloud/Caitlin/COVID Data'

In [25]:
# Import stay at home data file
COVID_home = pd.read_pickle(os.path.join(path, 'COVID_home_clean.pkl'))

In [26]:
COVID_home.head(2)

,state,County_Name,FIPS_State,FIPS_County,date,order_code_home,Stay_at_Home_Order_Recommendation
26,AL,Autauga County,1,1,2020-04-10,1,Mandatory for all individuals
27,AL,Autauga County,1,1,2020-04-11,1,Mandatory for all individuals

In [27]:
COVID_home.shape

(779216, 7)

In [29]:
# Import mask mandate data file
COVID_mask = pd.read_pickle(os.path.join(path, 'COVID_mask_clean.pkl'))

In [30]:
COVID_mask.head(2)

,state,County_Name,FIPS_State,FIPS_County,date,order_code_mask,Face_Masks_Required_in_Public
0,AL,Autauga County,1,1,2020-04-10,2,No
1,AL,Autauga County,1,1,2020-04-11,2,No

In [31]:
COVID_mask.shape

(779216, 7)

## Merge stay at home and mask data

In [32]:
# Merge dataframes
COVID_mask_home = COVID_home.merge(COVID_mask, on = ['state', 'County_Name', 'FIPS_State', 'FIPS_County', 'date'])

In [33]:
COVID_mask_home.head(5)

,state,County_Name,FIPS_State,FIPS_County,date,order_code_home,Stay_at_Home_Order_Recommendation,order_code_mask,Face_Masks_Required_in_Public
0,AL,Autauga County,1,1,2020-04-10,1,Mandatory for all individuals,2,No
1,AL,Autauga County,1,1,2020-04-11,1,Mandatory for all individuals,2,No
2,AL,Autauga County,1,1,2020-04-12,1,Mandatory for all individuals,2,No
3,AL,Autauga County,1,1,2020-04-13,1,Mandatory for all individuals,2,No
4,AL,Autauga County,1,1,2020-04-14,1,Mandatory for all individuals,2,No

## Merge COVID case and mask/home data

In [34]:
# Import stay at COVID cases
COVID_cases = pd.read_pickle(os.path.join(path, 'COVID_cases_clean.pkl'))

In [35]:
COVID_cases.head(5)

         date state  tot_cases  new_case  tot_death  new_death
5  2020-06-10    VT       1009        10         54          0
6  2020-04-28    MI      51401      1218       4310        105
7  2020-05-03    NH       2518        89         86          2
8  2020-07-31    ND       6602       133        103          0
10 2020-09-24    AL     148606      2188       3894         13

In [36]:
# Merge dataframes
COVID_merge = COVID_mask_home.merge(COVID_cases, on = ['date', 'state'])

In [37]:
COVID_merge.head(5)

,state,County_Name,FIPS_State,FIPS_County,date,order_code_home,Stay_at_Home_Order_Recommendation,order_code_mask,Face_Masks_Required_in_Public,tot_cases,new_case,tot_death,new_death
0,AL,Autauga County,1,1,2020-04-10,1,Mandatory for all individuals,2,No,3103,158,141,12
1,AL,Baldwin County,1,3,2020-04-10,1,Mandatory for all individuals,2,No,3103,158,141,12
2,AL,Barbour County,1,5,2020-04-10,1,Mandatory for all individuals,2,No,3103,158,141,12
3,AL,Bibb County,1,7,2020-04-10,1,Mandatory for all individuals,2,No,3103,158,141,12
4,AL,Blount County,1,9,2020-04-10,1,Mandatory for all individuals,2,No,3103,158,141,12

In [39]:
# Shape of new dataframe
COVID_merge.shape

(779216, 13)

# Descriptive Statistics

In [21]:
# Statistics
COVID_merge.describe()

,FIPS_State,FIPS_County,order_code_home,order_code_mask,tot_cases,new_case,tot_death,new_death
count,779216.000000,779216.000000,779216.000000,779216.000000,7.792160e+05,779216.000000,779216.000000,779216.000000
mean,30.280076,103.572884,5.702217,1.524297,1.518014e+05,1769.964116,3574.719507,30.008464
std,15.141939,107.686988,1.705856,0.499410,2.210232e+05,2616.216266,4664.923479,45.958932
min,1.000000,1.000000,1.000000,1.000000,2.460000e+02,-3401.000000,0.000000,-349.000000
25%,18.000000,35.000000,6.000000,1.000000,2.223700e+04,335.000000,540.000000,5.000000
50%,29.000000,79.000000,6.000000,2.000000,7.232100e+04,861.000000,1813.000000,14.000000
75%,45.000000,133.000000,7.000000,2.000000,1.797690e+05,1958.000000,4466.000000,34.000000
max,56.000000,840.000000,7.000000,2.000000,1.551766e+06,35729.000000,26962.000000,678.000000

# Download Data Set

In [40]:
#Download cleaned data
COVID_merge.to_pickle(os.path.join(path, 'COVID_final_data.pkl'))